<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.www.mapper.ManOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yr.www.entity.ManOrg">
        <id column="id" property="id" />
        <result column="org_name" property="orgName" />
        <result column="org_founder" property="orgFounder" />
        <result column="org_type" property="orgType" />
        <result column="org_info" property="orgInfo" />
        <result column="org_num" property="orgNum" />
        <result column="org_status" property="orgStatus" />
        <result column="audit_content" property="auditContent" />
        <result column="audit_staus" property="auditStaus" />
        <result column="operator_id" property="operatorId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
    </resultMap>

    <resultMap id="BaseResultDtoMap" type="com.yr.www.entity.dto.ManOrgDto">
        <id column="id" property="id" />
        <result column="org_name" property="orgName" />
        <result column="org_founder" property="orgFounder" />
        <result column="org_type" property="orgType" />
        <result column="org_info" property="orgInfo" />
        <result column="org_num" property="orgNum" />
        <result column="org_status" property="orgStatus" />
        <result column="audit_content" property="auditContent" />
        <result column="audit_status" property="auditStatus" />
        <result column="operator_id" property="operatorId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
        <result column="user_name" property="userName" />
    </resultMap>
    <select id="selectOrgDtoList" resultMap="BaseResultDtoMap">
        SELECT a.*,b.user_name FROM man_org a LEFT JOIN  man_user b ON a.org_founder=b.id order by a.org_status desc
    </select>

    <select id="selectOrgDtoListByIds" resultMap="BaseResultDtoMap">
        SELECT a.*,b.user_name FROM man_org a LEFT JOIN  man_user b ON a.org_founder=b.id
        <if test="@Ognl@isNotEmpty(orgIds)">
            WHERE a.id IN
            <foreach collection="orgIds" item="item" index="index"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
         order by a.org_status desc
    </select>

</mapper>
